.li-title-hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoond41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'cond light';
	src: url('../fonts/PFDinTextCondPro-Lightd41d.eot?') format('eot'), 
	     url('../fonts/PFDinTextCondPro-Light.woff') format('woff'), 
	     url('../fonts/PFDinTextCondPro-Light.ttf')  format('truetype'),
	     url('../fonts/PFDinTextCondPro-Light.svg#PFDinTextCondPro-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sq_reg';
	src: url('../fonts/PFSquareSansPro-Regulard41d.eot?') format('eot'), 
	     url('../fonts/PFSquareSansPro-Regular.woff') format('woff'), 
	     url('../fonts/PFSquareSansPro-Regular.ttf')  format('truetype'),
	     url('../fonts/PFSquareSansPro-Regular.svg#PFSquareSansPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Windows Chrome ugly fix http://stackoverflow.com/questions/13674808/chrome-svg-font-rendering-breaks-layout/14345363#14345363 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'icomoon';
		src: url('../fonts/icomoon.svg#icomoon') format('svg');
	};
}

.icon-team, .icon-blog, .icon-home, .icon-portfolio, .icon-services, .icon-contact, .icon-menu {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-team:before {
	content: "\e000";
}

.icon-blog:before {
	content: "\e001";
}

.icon-home:before {
	content: "\e002";
}

.icon-portfolio:before {
	content: "\e003";
}

.icon-services:before {
	content: "\e004";
}

.icon-contact:before {
	content: "\e005";
}

.icon-menu:before {
	content: "\f0c9";
}

a, li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Global CSS that are applied for all screen sizes */

.nav ul {
	max-width:930px;
	min-width:930px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	font-weight: 300;
    position: relative;
    top: 285px;
}

.nav li span {
	display: block;
}

.nav a {
	display: block;
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
}

.nav i{
	/* Make the font smoother for Chrome */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */

a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */

.no-touch .nav ul:hover a {
	color: rgba(249, 249, 249, .5);
}

.no-touch .nav ul:hover a:hover {
	color: rgba(249, 249, 249, 0.99);
}

/* Adding some background color to the different menu items */

.nth-child1 {
	background: rgb(208, 101, 3);
}

.nth-child2 {
	background: rgb(233, 119, 26);
}

.nth-child3 {
	background: rgb(233, 147, 26);
}

.nth-child4 {
	background: rgb(22, 145, 190);
}

.nth-child5 {
	background: rgb(22, 101, 162);
}

.nth-child6 {
	background: rgb(27, 77, 127);
}
.nav li:nth-child(6n+7) {
	background: rgb(30, 60, 82);
}
.nav li:nth-child(6n+8) {
	background: rgb(27, 54, 71);
}
.nav li:nth-child(6n+9) {
	background: rgb(21, 40, 54);
}


.up_anomation .menu_text_stick_up,
.up_anomation .menu_text_krug_up{
	transition: 0.3s linear;
}

.up_anomation:hover .menu_text_krug_up{
	top: -181px;
}

.up_anomation:hover .menu_text_stick_up{
	top: -133px;
}

.donw_anomation .menu_text_stick_down,
.donw_anomation .menu_text_krug_down{
	transition: 0.3s linear;
}

.donw_anomation:hover .menu_text_stick_down{
	top:3px;
}
.donw_anomation:hover .menu_text_krug_down{
	top: 2px;
}



.transition-scale {
  transition: 0.2s linear;
}

.transition-scale:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.nav li:nth-child(6n+1) .menu_text_stick_down {
	background: rgb(208, 101, 3);
}
.nav li:nth-child(6n+1) .menu_text_krug_down {
	border: 2px solid rgb(208, 101, 3);
}
.nav li:nth-child(6n+2) .menu_text_stick_up {
	background: rgb(233, 119, 26);
}
.nav li:nth-child(6n+2) .menu_text_krug_up {
	border: 2px solid rgb(233, 119, 26);
}
.nav li:nth-child(6n+3) .menu_text_stick_down {
	background: rgb(233, 147, 26);
}
.nav li:nth-child(6n+3) .menu_text_krug_down {
	border: 2px solid rgb(233, 147, 26);
}
.nav li:nth-child(6n+4) .menu_text_stick_up {
	background: rgb(22, 145, 190);
}
.nav li:nth-child(6n+4) .menu_text_krug_up {
	border: 2px solid rgb(22, 145, 190);
}
.nav li:nth-child(6n+5) .menu_text_stick_down {
	background: rgb(22, 101, 162);
}
.nav li:nth-child(6n+5) .menu_text_krug_down {
	border: 2px solid rgb(22, 101, 162);
}
.nav li:nth-child(6n+6) .menu_text_stick_up {
	background: rgb(27, 77, 127);
}
.nav li:nth-child(6n+6) .menu_text_krug_up {
	border: 2px solid rgb(27, 77, 127);
}
.nav li:nth-child(6n+7) .menu_text_stick_down {
	background: rgb(30, 60, 82);
}
.nav li:nth-child(6n+7) .menu_text_krug_down {
	border: 2px solid rgb(30, 60, 82);
}
.nav li:nth-child(6n+8) .menu_text_stick_up {
	background: rgb(27, 54, 71);
}
.nav li:nth-child(6n+8) .menu_text_krug_up {
	border: 2px solid rgb(27, 54, 71);
}
.nav li:nth-child(6n+9) .menu_text_stick_down {
	background: rgb(21, 40, 54);
}
.nav li:nth-child(6n+9) .menu_text_krug_down {
	border: 2px solid rgb(21, 40, 54);
}
.menu_text_stick_down {
	height: 38px;
	margin: 16px auto 0;
	width: 2px;
	position: relative;
  	top: -12px;
}
.menu_text_krug_down {
	border-radius: 50%;
	width: 8px;
	height: 8px;
	margin: 0 auto;
	position: relative;
  	top: -13px;
}
.menu_text_stick_up {
	height: 38px;
	margin: -35px auto 0;
	width: 2px;
	position: relative;
	top: -118px;
}
.menu_text_krug_up {
	border-radius: 50%;
	width: 8px;
	height: 8px;
	margin: 0 auto;
	position: relative;
	top: -167px;
}

.menu_text_down {
	font-size: 23px;
	padding-top: 5px;
	line-height: 22px;
	color: #fff;
	text-decoration: underline;
	width: 165px;
	font-family: 'sq_reg';
}
.menu_text_up {
	font-size: 23px;
	line-height: 22px;
	padding-top: 5px;
	color: #fff;
	text-decoration: underline;
	width: 150px;
	position: relative;
	top: -230px;
	font-family: 'sq_reg';
}
	/* hover, focused and active effects that add a little colored border to the different items */
/*	.no-touch .nav li:nth-child(6n+1) a:hover,
	.no-touch .nav li:nth-child(6n+1) a:active,
	.no-touch .nav li:nth-child(6n+1) a:focus {
		-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;
	}

	.no-touch .nav li:nth-child(6n+2) a:hover,
	.no-touch .nav li:nth-child(6n+2) a:active,
	.no-touch .nav li:nth-child(6n+2) a:focus {
		-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;
	}

	.no-touch .nav li:nth-child(6n+3) a:hover,
	.no-touch .nav li:nth-child(6n+3) a:active,
	.no-touch .nav li:nth-child(6n+3) a:focus {
		-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;
	}

	.no-touch .nav li:nth-child(6n+4) a:hover,
	.no-touch .nav li:nth-child(6n+4) a:active,
	.no-touch .nav li:nth-child(6n+4) a:focus {
		-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;
	}

	.no-touch .nav li:nth-child(6n+5) a:hover,
	.no-touch .nav li:nth-child(6n+5) a:active,
	.no-touch .nav li:nth-child(6n+5) a:focus {
		-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;
	}

	.no-touch .nav li:nth-child(6n+6) a:hover,
	.no-touch .nav li:nth-child(6n+6) a:active,
	.no-touch .nav li:nth-child(6n+6) a:focus {
		-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;
	}
	
	.no-touch .nav li:nth-child(6n+7) a:hover,
	.no-touch .nav li:nth-child(6n+7) a:active,
	.no-touch .nav li:nth-child(6n+7) a:focus {
		-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;
	}
	
	.no-touch .nav li:nth-child(6n+8) a:hover,
	.no-touch .nav li:nth-child(6n+8) a:active,
	.no-touch .nav li:nth-child(6n+8) a:focus {
		-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;
	}
	
	.no-touch .nav li:nth-child(6n+9) a:hover,
	.no-touch .nav li:nth-child(6n+9) a:active,
	.no-touch .nav li:nth-child(6n+9) a:focus {
		-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;
	}*/

/* For screen bigger than 800px */
@media (min-width: 50em) {

	/* Transforms the list into a horizontal navigation */
	.nav li {
		float: left;
		width: 16.6%;
		text-align: center;

	}

	.nav a {
		display: block;
		width: auto;
	}

        .nav a img {
            height: 70%;
            width: 70%;
        }
	/* Placing the icon */
	
	.icon {
		padding-top: 10px;
	}

	.icon + span {
		margin-top: 2.1em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Animating the height of the element*/
	.nav a {
		height: 150px;
	}

	.no-touch .nav a:hover ,
	.nav a:active ,
	.nav a:focus {
		
	}	

	/* Making the text follow the height animation */
	.no-touch .nav a:hover .icon + span {
		margin-top: 3.2em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Positioning the icons and preparing for the animation*/
	.nav i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.4em;
		border-radius: 50%;
		font-size: 1.8em;
		box-shadow: 0 0 0 30px transparent;
		background: rgba(255,255,255,0.1);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: box-shadow .6s ease-in-out;
		-moz-transition: box-shadow .6s ease-in-out;
		-o-transition: box-shadow .6s ease-in-out;
		-ms-transition: box-shadow .6s ease-in-out;
		transition: box-shadow .6s ease-in-out;
	}	
	
	/* Animate the box-shadow to create the effect */
	.no-touch .nav a:hover i,
	.no-touch .nav a:active i,
	.no-touch .nav a:focus i {		
		box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}
		
}
/* For screen bigger than 800px */
@media (max-width: 50em) {

		/* Transforms the list into a horizontal navigation */
	.nav li {
		float: left;
		width: 11.11111111111111%;
		text-align: center;

	}

	.nav a {
		display: block;
		width: auto;
	}

	

	/* Placing the icon */
	
	.icon {
		padding-top: 10px;
	}

	.icon + span {
		margin-top: 2.1em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Animating the height of the element*/
	.nav a {
		height: 100px;
	}

	.no-touch .nav a:hover ,
	.nav a:active ,
	.nav a:focus {
		
	}	

	/* Making the text follow the height animation */
	.no-touch .nav a:hover .icon + span {
		margin-top: 3.2em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Positioning the icons and preparing for the animation*/
	.nav i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.4em;
		border-radius: 50%;
		font-size: 1.8em;
		box-shadow: 0 0 0 30px transparent;
		background: rgba(255,255,255,0.1);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: box-shadow .6s ease-in-out;
		-moz-transition: box-shadow .6s ease-in-out;
		-o-transition: box-shadow .6s ease-in-out;
		-ms-transition: box-shadow .6s ease-in-out;
		transition: box-shadow .6s ease-in-out;
	}	
	
	/* Animate the box-shadow to create the effect */
	.no-touch .nav a:hover i,
	.no-touch .nav a:active i,
	.no-touch .nav a:focus i {		
		box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}
		
}




@media (min-width: 50em) and (max-width: 61.250em) {

	/* Size and font adjustments to make it fit into the screen*/
	.nav ul {
		font-size: 1.2em;
	}

}

/* The "tablet" and "mobile" version */
/*
@media (max-width: 49.938em) {		
	.no-touch .nav ul li:nth-child(6n+1) a:hover,
	.no-touch .nav ul li:nth-child(6n+1) a:active,
	.no-touch .nav ul li:nth-child(6n+1) a:focus {
		background: rgb(227, 119, 20);
	}

	.no-touch .nav li:nth-child(6n+2) a:hover,
	.no-touch .nav li:nth-child(6n+2) a:active,
	.no-touch .nav li:nth-child(6n+2) a:focus {
		background: rgb(245, 160, 41);
	}

	.no-touch .nav li:nth-child(6n+3) a:hover,
	.no-touch .nav li:nth-child(6n+3) a:active,
	.no-touch .nav li:nth-child(6n+3) a:focus {
		background: rgb(44, 168, 219);
	}

	.no-touch .nav li:nth-child(6n+4) a:hover,
	.no-touch .nav li:nth-child(6n+4) a:active,
	.no-touch .nav li:nth-child(6n+4) a:focus {
		background: rgb(31, 120, 176);
	}

	.no-touch .nav li:nth-child(6n+5) a:hover,
	.no-touch .nav li:nth-child(6n+5) a:active,
	.no-touch .nav li:nth-child(6n+5) a:focus {
		background: rgb(39, 70, 90);
	}

	.no-touch .nav li:nth-child(6n+6) a:hover,
	.no-touch .nav li:nth-child(6n+6) a:active,
	.no-touch .nav li:nth-child(6n+6) a:focus {
		background: rgb(32, 54, 68);
	}

	.nav ul li {
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		-o-transition: background 0.5s;
		-ms-transition: background 0.5s;
		transition: background 0.5s;
	}	

}

*/

/* CSS specific to the 2x3 columns version */
/*
@media (min-width:32.5em) and (max-width: 49.938em) {
	
	.nav li {
		display: block;
		float: left;
		width: 50%;
	}
	
	.nav a {
		padding: 0.8em;		
	}

	.nav li span, 
	.nav li span.icon {
		display: inline-block;
	}

	.nav li span.icon {
		width: 50%;
	}

	.nav li .icon + span {
		font-size: 1em;
	}

	.icon + span {
		position: relative;
		top: -0.2em;
	}

	.nav li i {
		display: inline-block;
		padding: 8% 9%;
		border: 4px solid transparent;
		border-radius: 50%;
		font-size: 1.5em;
		background: rgba(255,255,255,0.1);
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}

	.no-touch .nav li:hover i,
	.no-touch .nav li:active i,
	.no-touch .nav li:focus i {
		border: 4px solid rgba(255,255,255,0.1);
	}
	
}
*/
/* Adapting the font size and width for smaller screns*/
/*
@media (min-width: 32.5em) and (max-width: 38.688em) {
	
	.nav li span.icon {
		width: 50%;
	}

	.nav li .icon + span {
		font-size: 0.9em;
	}
}

.nav .navtoogle{
	display: none;	
	width: 100%;
	padding: 0.5em 0.5em 0.8em;
	font-family: 'Lato',Calibri,Arial,sans-serif;
	font-weight: normal;
	text-align: left;
	color: rgb(7, 16, 15);
	font-size: 1.2em;
	background: none;	
	border: none;
	border-bottom: 4px solid rgb(221, 221, 221);
	cursor: pointer;
}

.icon-menu {
	position: relative;
	top: 3px;
	line-height: 0;
	font-size: 1.6em;
}
*/
/*
@media (max-width: 32.438em) {

	.nav .navtoogle{
		margin: 0;
		display: block;
	}

	.main {
		max-height: none;
	}

	.nav {
		display: inline-block;
	}

	.nav li {
		display: block;
		float: left;
		width: 100%;
	}
	
	.no-js .nav ul {
		max-height: 30em;
		overflow: hidden;
	}
	
	
	.js .nav ul {
		max-height: 30em;
		overflow: hidden;
	}
	
	.js .nav .active + ul {		
		max-height: 30em;
		overflow: hidden;
		-webkit-transition: max-height .4s;
		-moz-transition: max-height .4s;
		-o-transition: max-height .4s;
		-ms-transition: max-height .4s;
		transition: max-height .4s;
	}
	
	.nav li span {
		display: inline-block;
		height: 100%;
	}

	.nav a {
		padding: 0.5em;		
	}
	
	.icon + span {
		margin-left: 1em;
		font-size: 0.8em;
	}
	
	
	.nav li:nth-child(6n+1) {
		border-left: 8px solid rgb(174, 78, 1);
	}

	.nav li:nth-child(6n+2) {
		border-left: 8px solid rgb(191, 117, 20);
	}

	.nav li:nth-child(6n+3) {
		border-left: 8px solid rgb(13, 111, 150);
	}

	.nav li:nth-child(6n+4) {
		border-left: 8px solid rgb(10, 75, 117);
	}

	.nav li:nth-child(6n+5) {
		border-left: 8px solid rgb(16, 34, 44);
	}

	.nav li:nth-child(6n+6) {
		border-left: 8px solid rgb(9, 18, 25);
	}

	
	.touch .nav a {
		padding: 0.8em;
	}

	.bot_wrapp {
		width: 300px !important;
	}

	.phone {
		color: #7e7e7e;
		font-family: 'cond light';
		font-size: 38px;
	}

	.address {
		font-family: 'cond light';
		color: #669fb3;
		font-size: 22px !important;
	}

	header h1 {
		width: 280px !important;
	}

	header h1 span .img {
		float: none !important;
		margin: 0 auto !important;
		margin-left: 20px !important;
		background: url('../logo1_1.png') no-repeat;
	}

	header {
		width: 280px !important;
	}

	.logo_text {
		float: none !important;
		text-align: center !important;
		width: 260px;
	}
	body {
		width: 100% !important;
	}

	.container {
		width: 100% !important;
	}

	.main,
	.container > header {
		width: 90%;
		margin: 0 auto;
		padding: 1em;
	}
}
*/
/*
@media (min-width: 32.438em) and (max-width: 800px) {
	header h1 span .img {
		float: none !important;
		margin: 0 auto !important;
		margin-left: 145px !important;
		background: url('../logo1_1.png') no-repeat;
	}

	header {
		width: 550px !important;
	}

	header h1 {
		width: 520px !important;
	}

	.logo_text {
		float: none !important;
		text-align: center !important;
		width: 500px;
		margin-left: 25px;
		margin: 0 auto;
	}
}
*/
/*
@media (min-width: 32.438em) and (max-width: 568px) {

	.bot_wrapp {
		width: 550px !important;
	}

	.address {
		font-family: 'cond light';
		color: #669fb3;
		font-size: 22px !important;
	}

	header h1 {
		width: 550px !important;
	}

	header h1 span .img {
		float: none !important;
		margin: 0 auto !important;
		margin-left: 145px !important;
		background: url('../logo1_1.png') no-repeat;
	}

	header {
		width: 550px !important;
	}

	.logo_text {
		float: none !important;
		text-align: center !important;
		width: 500px;
		margin-left: 25px;
	}
	body {
		width: 550px !important;
	}

	.container {
		width: 100% !important;
		margin: 0px;
	}

	.main,
	.container > header {
		width: 90%;
		margin: 0 auto;
		padding: 0em;
	}

	.bot_wrapp {
		width: 500px !important;
		margin: 0 auto;
	}
}
*/

.bot_wrapp {
	text-align: center;
	width: 100%;
	padding-top: 20px;
	width: 350px;
	margin: 0 auto;
}
.phone_top {
	color: #7e7e7e;
	font-family: 'cond light';
	font-size: 45px;
}

.address {
	font-family: 'cond light';
	color: #669fb3;
	font-size: 26px;
}

.logo_text {
	color: #9a9a9a;
	font-family: 'cond light';
	font-size: 37px;
	float: right;
	font-weight: 100;
	padding-top: 7px;
}

header h1 {
	width: 750px;
	margin: 0 auto;
	padding: 40px 0 70px 0;
}

header .img {
	width: 219px;
	height: 65px;
	background: url('../logo1.png') no-repeat;
	float: left;
}