.align-center {
    margin: 0 auto;
}

.text-wrap {
    width: 1000px;
    padding-top: 150px;
    margin-bottom: 30px;
    font: 20px/22px pf_din_text_cond_proregular;
    line-height: 1.4em;
    text-align: justify;
}

@import url(../fonts/stylesheet.css);

@font-face {
  font-family: 'PFSquareSansPro-Bold';
  src: url('../font2/PFSquareSansPro-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFSquareSansPro-Bold';
  src: url('../font2/PFSquareSansPro-Bold.ttf')  format('truetype'), 
  url('../font2/PFSquareSansPro-Bold.html#PFSquareSansPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFSquareSansPro-Medium';
  src: url('../font2/PFSquareSansPro-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFSquareSansPro-Medium';
  src:  url('../font2/PFSquareSansPro-Medium.ttf')  format('truetype'), 
  url('../font2/PFSquareSansPro-Medium.html#PFSquareSansPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}



* {
	margin:0;
	padding:0;
	outline: none;
}

html, body {
	font-size: 100%;
	margin:0;
	padding:0;
	-webkit-text-size-adjust:100%;
	text-size-adjust:100%;
	font-family: pf_din_text_cond_proregular;
	color:#656666;
	position:relative;
}

textarea {
	resize: none;
}

strong{
	font-family:pf_din_text_cond_promedium;
	font-weight:normal;
	}

.btn{
	background:url(../img/btn.png) 0 0 no-repeat;
	background-size:100% 300%;
	text-decoration:none;
	border:none;
	outline:none;
	color: rgb( 0, 0, 0 );
	text-align: center;
	text-shadow: 0px 1px 1px rgb( 255, 255, 255 );
	cursor:pointer;
	}
.btn:hover{
	background-position:0 50%;
	}
.btn:active{
	background-position:0 100%;
	}
	
label{
	display:block;
	}
label input[type='text']{
	display:block;
	border: 1px solid rgb( 0, 135, 179 );
	border-radius: 5px;
	background-color: rgb( 245, 245, 245 );
	outline:none;
	height:35px;
	padding-left:19px;
	margin-bottom:10px;
	width:240px;
	color:#696969;
	font-size:18px;
	line-height: 21px;
	}
	
.full{
	margin:0 auto;
	}
.container{
	width:960px;
	margin:0 auto;
	}
	
#fix {
	min-height: 100%;
	position: relative;
	width:100%;
	margin:0 auto;
	height:100%;min-width: 980px;
	}
* html #fix {height: 100%;}

header{
	background:url(../img/more.jpg);
	margin:0 auto;
	height:700px;
	min-width:980px;
    background-size: cover;
	}
	div.head-substrate{
		background:rgba(255,255,255,.8);
		height:85px;
	    width: 100%;
		overflow:hidden;
		padding-top:17px;
	    position: fixed;
	    z-index: 1000;
		}
		div.head-container{
			margin:0 auto;
			width:980px;
			}
			div.substrate-left,
			div.substrate-right{
				display:inline-block;
				text-align:left;
				vertical-align:top;
				}
			div.substrate-right{
				text-align:right;
				width:480px;
				margin-top:-3px;
				}
				a.logo{
					display:inline-block;
					vertical-align:top;
					background:url(../img/logo_top.png) 0 0 no-repeat;
				    background-size: 70%;
					width:236px;
				    height: 100px;
					cursor:pointer;
					text-indent:-3000px;
				    margin-top: -10px;
					}
				div.site-desc{
					display:inline-block;
					vertical-align:top;
					font-size:20px;
					line-height:23px;
					letter-spacing:0.7px;
					padding:10px 15px;
					border-left:1px solid #d3d3d3;
					width:220px;
					}
				div.phone_top{
					font:30px/30px pf_din_text_cond_probold;
					}
				a.recall{
					display:inline-block;
					width:185px;
				    height: 50px;
				    line-height: 2em;
					padding:5px 0 13px;
					margin-top:8px;
				    font-size: 1.3em;
					}
	/*nav#menu{
		background:url(../img/menu.jpg) 50% 0 no-repeat;
		height:203px;
		margin:98px 0 0;
		}*/
	.main,
	.container > header {
		width: 100%;
		margin: 0  auto;
	}

	.main {
		max-width: 82.667em;
		min-height: 18em;
		max-height: 19em;
	}
		nav#menu{
			}
					
.this-is {
	background:url(../img/thisis.jpg);
	}
	.title{
		height:80px;
		font:50px/88px pf_din_text_cond_promedium;
		text-align:center;
		color:#fff;
		letter-spacing:2px;
		}
	.this-is > .title{
		background-color:#0c6aa4;
		}
	.this-is > .container{
		margin-top:29px;
		margin-bottom:3px;
		}
		.this-is > .container ul{
			margin:0;
			padding:0;
			list-style:none;
			}
			.this-is > .container ul li{
				margin:0 0 35px;
				padding:0;
				display:inline-block;
				width:240px;
				vertical-align:top;
				}
				.this-is > .container ul li .this-is-text{
					font:20px/22px pf_din_text_cond_proregular;
					text-align:center;
					margin:0 auto;
					}
				.this-is > .container ul li .this-is-text span{
					font:56px/50px pf_din_text_cond_promedium;
					display:block;
					margin-top:14px;
					}
				.this-is > .container ul li .this-is-icon {
					width:140px;
					height:111px;
					margin:0 auto;
					}
				.this-is > .container ul li:nth-child(1) .this-is-icon {
					background:url(../img/icon1.png) 0 0 no-repeat;
					}
				.this-is > .container ul li:nth-child(1) .this-is-text {
					width:140px;;
					}
				.this-is > .container ul li:nth-child(2) .this-is-icon {
					background:url(../img/icon2.png) 0 0 no-repeat;
					}
				.this-is > .container ul li:nth-child(2),
				.this-is > .container ul li:nth-child(5) {
					margin:0 115px;
					}
				.this-is > .container ul li:nth-child(3) .this-is-icon {
					background:url(../img/icon3.png) 0 0 no-repeat;
					}
				.this-is > .container ul li:nth-child(3) .this-is-text {
					width:120px;
					}
				.this-is > .container ul li:nth-child(4) .this-is-icon {
					background:url(../img/icon4.png) 0 0 no-repeat;
					}
				.this-is > .container ul li:nth-child(5) .this-is-icon {
					background:url(../img/icon5.png) 0 0 no-repeat;
					}
				.this-is > .container ul li:nth-child(5) .this-is-text span {
					font:38px/38px pf_din_text_cond_promedium;
					text-transform:uppercase;
					margin-top:28px;
					letter-spacing:1px;
					}
				.this-is > .container ul li:nth-child(6) .this-is-icon {
					background:url(../img/icon6.png) 0 0 no-repeat;
					}

.client > .title {
	background-color:#ffa100;
	}
	.client > .container ul{
		margin:30px 0;
		padding:0;
		list-style:none;
		}
		.client > .container ul li{
			margin:0;
			padding:0;
			list-style:none;
			width:134px;
			height:90px;
			display:inline-block;
			vertical-align:top;
			background:url(../img/hsepar.jpg) 50% 100% no-repeat, url(../img/vsepar.jpg) 100% 50% no-repeat;
			}
		.client > .container ul li:nth-child(7),
		.client > .container ul li:nth-child(14),
		.client > .container ul li:nth-child(21),
		.client > .container ul li:nth-child(28),
		.client > .container ul li:nth-child(35),
		.client > .container ul li:nth-child(42),
		.client > .container ul li:nth-child(49),
		.client > .container ul li:nth-child(56){
			background:url(../img/hsepar.jpg) 50% 100% no-repeat;
			}
		.client > .container ul li:nth-child(57),
		.client > .container ul li:nth-child(58),
		.client > .container ul li:nth-child(59),
		.client > .container ul li:nth-child(60){
			background:url(../img/vsepar.jpg) 100% 50% no-repeat;
			}
			.client > .container ul li div{
				width:134px;
				height:89px;
				}
			.client > .container ul li:nth-child(1) div {
				background:url(../img/client/i1.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(2) div {
				background:url(../img/client/i2.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(3) div {
				background:url(../img/client/i3.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(4) div {
				background:url(../img/client/i4.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(5) div {
				background:url(../img/client/i5.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(6) div {
				background:url(../img/client/i6.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(7) div {
				background:url(../img/client/i7.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(8) div {
				background:url(../img/client/i8.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(9) div {
				background:url(../img/client/i9.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(10) div {
				background:url(../img/client/i10.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(11) div {
				background:url(../img/client/i11.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(12) div {
				background:url(../img/client/i12.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(13) div {
				background:url(../img/client/i13.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(14) div {
				background:url(../img/client/i14.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(15) div {
				background:url(../img/client/i15.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(16) div {
				background:url(../img/client/i16.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(17) div {
				background:url(../img/client/i17.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(18) div {
				background:url(../img/client/i18.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(19) div {
				background:url(../img/client/i19.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(20) div {
				background:url(../img/client/i20.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(21) div {
				background:url(../img/client/i21.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(22) div {
				background:url(../img/client/i22.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(23) div {
				background:url(../img/client/i23.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(24) div {
				background:url(../img/client/i24.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(25) div {
				background:url(../img/client/i25.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(26) div {
				background:url(../img/client/i26.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(27) div {
				background:url(../img/client/i27.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(28) div {
				background:url(../img/client/i28.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(29) div {
				background:url(../img/client/i29.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(30) div {
				background:url(../img/client/i30.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(31) div {
				background:url(../img/client/i31.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(32) div {
				background:url(../img/client/i32.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(33) div {
				background:url(../img/client/i33.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(34) div {
				background:url(../img/client/i34.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(35) div {
				background:url(../img/client/i35.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(36) div {
				background:url(../img/client/i36.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(37) div {
				background:url(../img/client/i37.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(38) div {
				background:url(../img/client/i38.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(39) div {
				background:url(../img/client/i39.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(40) div {
				background:url(../img/client/i40.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(41) div {
				background:url(../img/client/i41.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(42) div {
				background:url(../img/client/i42.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(43) div {
				background:url(../img/client/i43.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(44) div {
				background:url(../img/client/i44.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(45) div {
				background:url(../img/client/i45.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(46) div {
				background:url(../img/client/i46.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(47) div {
				background:url(../img/client/i47.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(48) div {
				background:url(../img/client/i48.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(49) div {
				background:url(../img/client/i49.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(50) div {
				background:url(../img/client/i50.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(51) div {
				background:url(../img/client/i51.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(52) div {
				background:url(../img/client/i52.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(53) div {
				background:url(../img/client/i53.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(54) div {
				background:url(../img/client/i54.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(55) div {
				background:url(../img/client/i55.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(56) div {
				background:url(../img/client/i56.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(57) div {
				background:url(../img/client/i57.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(58) div {
				background:url(../img/client/i58.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(59) div {
				background:url(../img/client/i59.jpg) 50% 50% no-repeat;
				}
			.client > .container ul li:nth-child(60) div {
				background:url(../img/client/i60.jpg) 50% 50% no-repeat;
				}
.faces > .title{
	background-color:#0c6aa4;
	}
	.faces-row h2{
		font:32px/34px pf_din_text_cond_promedium;
		font-weight:normal;
		text-align:center;
		letter-spacing:1px;
		}
	.newh2{
		font:32px/34px pf_din_text_cond_promedium;
		font-weight:normal;
		text-align:center;
		letter-spacing:1px;
		}
	.faces-row{
		border-bottom:1px solid #b3b3b3;
		margin-top:32px;
		}
		.faces-row.first{border: 0;}
	.faces-row.second{
		margin-top:36px;
		}
		.faces-row.second .face-name{
			margin-top:9px;
			}
		.faces-row.second ul{
			margin-bottom:38px;
			}
	.faces-row.third{
		border-bottom:none;
		margin-top:27px;
		}
		.faces-row.third2{
		border-bottom:none;

		}
		.faces-row.third ul{
			margin-top:38px;
			margin-bottom:34px;
			}
		.faces-row.third .face-name{
			margin-top:9px;
			}
	.face-name{
		font-size:18px;
		line-height:20px;
		margin-top:14px;
		}
	.faces-row ul {
		margin:33px auto 29px;
		padding:0;
		list-style:none;
		text-align:center;
		}
		.faces-row ul li{
			margin:0;
			padding:0;
			display:inline-block;
			vertical-align:top;
			margin-right: 24px;
			}
			.faces-row ul li .face{
				width:170px;
				height:170px;
				background-position:50% 50%;
				}
			.faces-row.first ul li:nth-child(1) .face{
				background:url(../img/face1.png) no-repeat;
				}
			.faces-row.first ul li:nth-child(2) .face{
				background:url(../img/face7.png) no-repeat;
				}
			.faces-row.first ul li:nth-child(3) .face{
				background:url(../img/face3.png) no-repeat;
				}
			.faces-row.second ul li:nth-child(1) .face{
				background:url(../img/face4.png) no-repeat;
				}
			.faces-row.first ul li:nth-child(5) {
				margin-right: 0px;
			}
			.faces-row.first ul li:nth-child(4) .face{
				background:url(../img/face5.png) no-repeat;
				}
			.faces-row.second ul li:nth-child(2) .face{
				background:url(../img/face6.png) no-repeat;
				}
			.faces-row.second ul li:nth-child(3) .face{
				background:url(../img/face7.png) no-repeat;
				}
			.faces-row.third ul li:nth-child(1) .face{
				background:url(../img/face8.png) no-repeat;
				}
			.faces-row.third ul li:nth-child(2) .face{
				background:url(../img/face9.png) no-repeat;
				}
			.faces-row.third ul li:nth-child(3) .face{
				background:url(../img/face13.html) no-repeat;
				}

			.faces-row.third2 ul li:nth-child(1) .face{
				background:url(../img/face12.png) no-repeat;
				}
			.faces-row.third2 ul li:nth-child(2) .face{
				background:url(../img/face11.png) no-repeat;
				}
			.faces-row.third2 ul li:nth-child(3) .face{
				background:url(../img/face10.png) no-repeat;
				}
		.pro-team{
			font:32px/34px pf_din_text_cond_promedium;
			color:#0c6aa4;
			text-align:center;
			margin-bottom:43px;
			letter-spacing:1.5px;
			}
div.form-film,
div.free-cons{
	background:url(../img/formbg.jpg) 50% 0 no-repeat #009bce;
	height:425px;
	padding-top:65px
	}
	div.form-film div.container{
		position: relative;
		background:url(../img/form-video.png) 50% 0 no-repeat;
		height:390px;
		}
		.ipad {
			width: 372px;
			height: 286px;
			top: 25px;
			left: 97px;
			position: absolute;
			background: url('../img/ipad.png') center center no-repeat;
		}
		.ipad_shadow {
			width: 407px;
			height: 30px;
			top: 296px;
			left: 77px;
			position: absolute;
			background: url('../img/ipad_shadow.png') center center no-repeat;
		}
		div.get-form{
			padding-left:520px;
			width:340px;
			}
			div.get-form p.form-desc {
				padding:40px 0 15px;
				font-size: 30px;
				font-family:pf_din_text_cond_promedium;
				color: rgb( 245, 245, 245 );
				line-height: 34px;
				text-align: left;
				text-shadow: 0.5px 0.866px 1px rgb( 0, 126, 168 );
				}
			input.get-btn{
				width:271px;
				height:55px;
				font: 24px/34px pf_din_text_cond_promedium;
				text-transform: uppercase;
				padding-bottom: 8px;
				margin-left:-4px;
				margin-top:10px;
				}

div.reviews > div.title{
	background-color:#ffa100;
	}
	.review {
		border: 3px solid rgb( 214, 214, 214 );
		padding:40px 33px 38px;
		border-radius: 5px;
		position:relative;
		margin-top:50px;
		margin-bottom:60px;
		}
		.rev-icon{
			position:absolute;
			top:-23px;
			left:50%;
			background:url(../img/review.jpg) 0 0 no-repeat;
			width:100px;
			height:49px;
			margin-left:-50px;
			}
		.rev-text,
		.rev-photo{
			display:inline-block;
			text-align:left;
			vertical-align:top;
			}
		.review .rev-photo{
			width:250px;
			height:200px;
			}
		.review:nth-child(1) .rev-photo{
			background:url(../img/reviews/photo1.jpg) 0 0 no-repeat;
			}
		.review:nth-child(2) .rev-photo{
			background:url(../img/reviews/photo2.jpg) 0 0 no-repeat;
			}
		.review:nth-child(2) .rev-text,
		.review:nth-child(3) .rev-text,
		.review:nth-child(6) .rev-text{
			margin-top:-3px;
			}
		.review:nth-child(6) {
			margin-bottom:44px;
			}
		.review:nth-child(3) .rev-photo{
			background:url(../img/reviews/photo3.jpg) 0 0 no-repeat;
			}
		.review:nth-child(4) .rev-photo{
			background:url(../img/reviews/photo4.jpg) 0 0 no-repeat;
			}
		.review:nth-child(5) .rev-photo{
			background:url(../img/reviews/photo5.jpg) 0 0 no-repeat;
			}
		.review:nth-child(6) .rev-photo{
			background:url(../img/reviews/photo6.jpg) 0 0 no-repeat;
			}
		.rev-text{
			font:16px/22px pf_din_text_cond_prolight;
			width:620px;
			padding-left:14px;
			}
			.rev-text h3{
				font-weight:normal;
				color:#1a3648;
				font:24px/26px pf_din_text_cond_proitalic;
				margin-bottom:10px;
				}
				.newh3{
				font-weight:normal;
				color:#1a3648;
				font:24px/26px pf_din_text_cond_proitalic;
				margin-bottom:10px;
				}
			.rev-text p{
				margin-bottom:5px;
				}
			.rev-text p.litalic{
				font-family: pf_din_text_cond_proitalic;
				}
				.rev-name{
					font:18px/22px pf_din_text_cond_proitalic;
					margin-top:30px;
					}
					.rev-name strong{
						display:block;
						}
.optimization {
	padding-bottom: 33px;
	height: 796px;
	background: url('../img/optes.jpg') no-repeat;
	background-size: cover;
	}
.titlesssss {
	background-color:#0c6aa4;
	/*height:80px;*/
	font:50px/88px pf_din_text_cond_promedium;
	text-align:center;
	color:#fff;
	letter-spacing:2px;
	}
	.optimization > .container {
		padding-top:46px;
		text-align:center;
		}
	.optimization > .container > div{
		background-color: rgba( 255, 255, 255, 0.8 );
		width: 290px;
		height: 312px;
		display:inline-block;
		margin-bottom:18px;
		padding:20px 7px 0;
		vertical-align:top;
		}
		.optimization > .container > div > div.op-icon{
			height:42px;
			}
		.optimization > .container > div > h3{
			font-weight:normal;
			width:160px;
			color:#1a3648;
			font:24px/28px pf_din_text_cond_promedium;
			margin:14px auto 0;
			}
		.optimization > .container > div > p{
			color:#424242;
			font:18px/22px pf_din_text_cond_prolight;
			text-align:left;
			margin-top:14px
			}
			div.lp{
				border:3px solid rgb( 209, 101, 0 );
				}
			div.lp div.op-icon{
				background:url(../img/op/op1.png) 50% 0 no-repeat;
				}
				div.lp p{
					padding-left: 5px;
					letter-spacing: 0.5px;
					}
				div.present p{
					padding: 0 15px;
					letter-spacing: 0.7px;
					}
				div.emarketing p{
					padding-left:20px;
					letter-spacing: 0.7px;
					}
				div.mailmarketing p{
					padding-left: 15px;
					letter-spacing: 0.6px
					}
				div.sales-dep p{
					padding-left: 14px;
					letter-spacing: 0.5px;
					}
			div.present{
				border:3px solid #eb9400;
				margin:0 10px;
				}
			div.present div.op-icon{
				background:url(../img/op/op2.png) 50% 0 no-repeat;
				}
			div.emarketing{
				border:3px solid #0090c0;
				}
			div.emarketing div.op-icon{
				background:url(../img/op/op3.png) 50% 0 no-repeat;
				}
			div.mailmarketing{
				border:3px solid #1a3648;
				height:270px !important;
				margin-right: 13px;
				}
			div.mailmarketing div.op-icon{
				background:url(../img/op/op4.png) 50% 0 no-repeat;
				}
			div.sales-dep{
				border:3px solid #0c6aa4;
				height:270px !important;
				}
			div.sales-dep div.op-icon{
				background:url(../img/op/op5.png) 50% 0 no-repeat;
				}
				
			a.op-order{
				width:168px;
				height:28px;
				font:20px pf_din_text_cond_promedium;
				text-transform:uppercase;
				display:inline-block;
				padding:7px 0 10px;
				margin-top:64px;
				}	
			div.emarketing a.op-order{
				margin-top:20px;
				}
			div.mailmarketing a.op-order,
			div.sales-dep a.op-order{
				margin-top:23px;
				}

div.top10 > div.title{
	background-color:#ffa100;
	}
div.top10 > div.container{
	text-align:center;
	margin-top:15px;
	margin-bottom:28px;
	}
	div.top-unit,
	div.top-icon{
		width:230px;
		height:163px;
		display:inline-block;
		vertical-align:top;
		text-align:left;
		}
	div.top-icon{
		width:214px !important;
		padding-left:16px;
		height:163px;
		}
	div.top-icon h3{
		color:#2779ad;
		font:36px/38px pf_din_text_cond_promedium;
		margin-top:61px;
		}
			.digith3{
		color:#2779ad;
		font:36px/38px pf_din_text_cond_promedium;
		margin-top:61px;
		}
	div.top-icon p{
		color:#4a4a4a;
		font:20px/22px pf_din_text_cond_prolight;
		}
	div.top-unit{
		background:url(../img/tvsep.jpg) 100% 50% no-repeat, url(../img/thsep.jpg) 50% 100% no-repeat;
		}
	div.top-unit:nth-child(4),
	div.top-unit:nth-child(8){
		background:url(../img/thsep.jpg) 50% 100% no-repeat;
		}
	div.top-unit:nth-child(9),
	div.top-unit:nth-child(10){
		background:url(../img/tvsep.jpg) 100% 50% no-repeat;
		}
	div.top-unit:nth-child(9){
		background:url(../img/tvsep.jpg) 100% 50% no-repeat, url(../img/tvsep.jpg) 0% 50% no-repeat;
		}
		div.top-unit:nth-child(1) .top-icon{
			background:url(../img/top/top1.png) 140px 39px no-repeat;
			}
		div.top-unit:nth-child(2) .top-icon{
			background:url(../img/top/top2.png) 140px 39px no-repeat;
			}
		div.top-unit:nth-child(3) .top-icon{
			background:url(../img/top/top3.png) 140px 39px no-repeat;
			}
		div.top-unit:nth-child(4) .top-icon{
			background:url(../img/top/top4.png) 140px 39px no-repeat;
			}
		div.top-unit:nth-child(5) .top-icon{
			background:url(../img/top/top5.png) 140px 21px no-repeat;
			}
		div.top-unit:nth-child(5) .top-icon h3,
		div.top-unit:nth-child(6) .top-icon h3,
		div.top-unit:nth-child(7) .top-icon h3,
		div.top-unit:nth-child(8) .top-icon h3{
			margin-top:30px;
			}
					div.top-unit:nth-child(5) .top-icon .digith3,
		div.top-unit:nth-child(6) .top-icon .digith3,
		div.top-unit:nth-child(7) .top-icon .digith3,
		div.top-unit:nth-child(8) .top-icon .digith3{
			margin-top:30px;
			}
		div.top-unit:nth-child(5),
		div.top-unit:nth-child(6),
		div.top-unit:nth-child(7),
		div.top-unit:nth-child(8){
			height:169px;
			}
		div.top-unit:nth-child(6) .top-icon{
			background:url(../img/top/top6.png) 140px 21px no-repeat;
			}
		div.top-unit:nth-child(7) .top-icon{
			background:url(../img/top/top7.png) 140px 21px no-repeat;
			}
		div.top-unit:nth-child(8) .top-icon{
			background:url(../img/top/top8.png) 140px 21px no-repeat;
			}
		div.top-unit:nth-child(9) .top-icon{
			background:url(../img/top/top9.png) 140px 22px no-repeat;
			}
		div.top-unit:nth-child(10) .top-icon{
			background:url(../img/top/top10.png) 140px 23px no-repeat;
			}
		div.top-unit:nth-child(9) .top-icon h3,
		div.top-unit:nth-child(10) .top-icon h3{
			margin-top:22px;
			}
			div.top-unit:nth-child(9) .top-icon .digith3,
		div.top-unit:nth-child(10) .top-icon .digith3{
			margin-top:22px;
			}
		div.top-unit:nth-child(9),
		div.top-unit:nth-child(10){
			height:157px;
			}
		div.top-unit:nth-child(2) .top-icon p{
			width:100px;
			}
		div.top-unit:nth-child(4) .top-icon p{
			width:120px;
			}
		div.top-unit:nth-child(5) .top-icon p{
			width:140px;
			}
		div.top-unit:nth-child(7) .top-icon p{
			width:130px;
			}
		div.top-unit:nth-child(8) .top-icon p,
		div.top-unit:nth-child(9) .top-icon p,
		div.top-unit:nth-child(10) .top-icon p{
			width:110px;
			}

div.free-cons{
	padding-top:45px;
	height:446px;
	}			
div.free-cons > .container > .get-form{
	border-style: solid;
	border-width: 3px;
	border-color: rgb( 255, 255, 255 );
	border-radius: 5px;
	background-color: rgba( 255, 255, 255, 0.231 );
	width: 445px;
	height: 410px;
	margin:0 auto;
	padding-left:327px;
	position:relative;
	}			
	div.free-cons > .container > .get-form > p:nth-child(1){
		padding-top: 36px;
		padding-bottom:7px;
		}	
	div.free-cons > .container > .get-form > p:nth-child(2){
		padding: 0;
		}
	div.free-cons > .container > .get-form > p{
		letter-spacing: 0.2px;
		width: 390px;
		line-height:30px;
		}
	div.free-cons > .container > .get-form > form{
		margin-top:17px;
		position:relative;
		z-index:3;
		}
	.light-shadow{
		position:absolute;
		width:432px;
		height:460px;
		background:url(../img/light-shadow.png) 50% 100% no-repeat;
		top:-72px;
		left:-70px;
		/*z-index:2;*/
		}
		.light{
			background:url(../img/light_off.png) 50% 0% no-repeat;
			width:432px;
			height:432px;
			position:absolute;
			top:-72px;
			left:-70px;
			/*z-index:3;*/
			}
		.light_on{
			background:url(../img/light.png) 50% 0% no-repeat;
			width:432px;
			height:432px;
			position:absolute;
			top:0px;
			left:0px;
			/*z-index:3;*/
			}
			
footer{
	background:url(../img/footer.jpg) 0 0 repeat-x #1a3648;
	min-width: 980px;
	}
	footer > div.container{
		width: 1060px;
		margin:0 auto;
		padding-top:31px;
		padding-bottom:28px;
		}
	footer > div.container > nav,
	footer > div.container > div{
		display:inline-block;
		vertical-align:top;
		}
	footer > div.container > nav.fmenu1{
		width: 281px;
		border-right: 1px solid #244961;
		min-height: 224px;
		margin: 0px;
		position: relative;
		}
	footer > div.container > div.fmenu2{
		width: 282px;
		border-left: 1px solid #142837;
		min-height: 224px;
		margin: 0px;
		border-right: 1px solid #244961;
		padding-left: 29px;
		position: relative;
		margin-left: -3px;
		font-family: 'pf_din_text_cond_prolight';
		font-size: 18px;
		color: #fff;
		line-height: 27px;
		}
	footer > div.container > div.fmenu2 span {
		font-family: 'pf_din_text_cond_promedium';
		text-transform: uppercase;
	}

	footer > div.container > div.fmenu2 .address {
		line-height: 21px;
		display: block;
		margin-top: -2px;
		text-transform: none;
		font-size: 18px;
		color: #fff;
		position: relative;
		font-family: 'pf_din_text_cond_prolight';
	}

	footer > div.container > div.fmenu2 em {
		font-style: normal;
		font-size: 30px;
	}
	footer > div.container nav ul{
		margin:0;
		padding:0;
		list-style:none;
		}
		footer > div.container nav ul li{
			margin:0;
			padding:0;
			}
			footer > div.container > div.fmenu2 a {
				cursor: pointer;
				text-decoration: underline;
			}
			footer > div.container nav ul li a,
			footer > div.container > div.fmenu2 a {
				color: #60cbee;
				font:18px/32px pf_din_text_cond_prolight;
				}
		.footright{
			padding-left:29px;
			margin-left: -3px;
			display: inline-block;
			border-left: 1px solid #142837;
			min-height: 192px;
			}
		.search-block p{
			font:16px/36px pf_din_text_cond_prolight;
			color:#fff;
			}
		.search-block p:nth-child(1){
			line-height:12px;
			}
		.search-block strong{
			text-transform:uppercase;
			}
		.search-block input[type="text"] {
			border: 1px solid #2f6485;
			background-color: rgb( 20, 40, 55 );
			width: 178px;
			height: 29px;
			padding-left:9px;
			color:#fff;
			}
		.search-block input[type="submit"] {
			font-family: 'pf_din_text_cond_proregular';
			color: #000;
			margin-left: 10px;
			font-size: 16px;
			line-height: 19px;
			cursor: pointer;
			width: 107px;
			height: 28px;
			background: #ffd106;
			border: 1px solid #ffe82e;
			border-radius: 5px;
			box-shadow: 1px 1px 0px rgba(252,147,11,0.6), -1px -1px 0px rgba(252,147,11,0.6), -1px 1px 0px rgba(252,147,11,0.6), 1px -1px 0px rgba(252,147,11,0.6), 0 5px 10px #863c1c;
			background: -moz-linear-gradient(top,  #ffd106 0%, #ffa300 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd106), color-stop(100%,#ffa300));
			background: -webkit-linear-gradient(top,  #ffd106 0%,#ffa300 100%);
			background: -o-linear-gradient(top,  #ffd106 0%,#ffa300 100%);
			background: -ms-linear-gradient(top,  #ffd106 0%,#ffa300 100%);
			background: linear-gradient(to bottom,  #ffd106 0%,#ffa300 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd106', endColorstr='#ffa300',GradientType=0 );
		}

		.search-block input[type="button"]:hover {
			background: #fad840;
			background: -moz-linear-gradient(top,  #fad840 0%, #ffb531 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fad840), color-stop(100%,#ffb531));
			background: -webkit-linear-gradient(top,  #fad840 0%,#ffb531 100%);
			background: -o-linear-gradient(top,  #fad840 0%,#ffb531 100%);
			background: -ms-linear-gradient(top,  #fad840 0%,#ffb531 100%);
			background: linear-gradient(to bottom,  #fad840 0%,#ffb531 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fad840', endColorstr='#ffb531',GradientType=0 );
		}

		.search-block input[type="button"]:active {
			background: #ffac03;
			background: -moz-linear-gradient(top,  #ffac03 0%, #ffcc03 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffac03), color-stop(100%,#ffcc03));
			background: -webkit-linear-gradient(top,  #ffac03 0%,#ffcc03 100%);
			background: -o-linear-gradient(top,  #ffac03 0%,#ffcc03 100%);
			background: -ms-linear-gradient(top,  #ffac03 0%,#ffcc03 100%);
			background: linear-gradient(to bottom,  #ffac03 0%,#ffcc03 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac03', endColorstr='#ffcc03',GradientType=0 );
		}

			div.tech-proj{
				margin: 20px 0;
				}
				div.tech,
				div.end-proj{
					display:inline-block;
					vertical-align:top;
					}
				div.tech{
					width:162px;
					}
					div.tech h3{
						font:16px/32px pf_din_text_cond_promedium;
						color:#fff;
						text-transform:uppercase;
						font-weight:normal;
						}
					.hh3{
						font:16px/32px pf_din_text_cond_promedium;
						color:#fff;
						text-transform:uppercase;
						font-weight:normal;
						}
					div.tech a{
						font: 16px/16px pf_din_text_cond_prolight !important;
						}
					div.end-proj h3{
						font:16px/32px pf_din_text_cond_prolight;
						color:#60cbee;
						font-weight:normal;
						}
						.hhh3{
						font:16px/32px pf_din_text_cond_prolight;
						color:#60cbee;
						font-weight:normal;
						}
					div.end-proj p{
						font-size:32px;
						line-height:20px;
						color:#ffffff;
						text-align:center;
						}
	
	.op-orders1 {
		margin-top: 42px !important;
	}

			
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Anton Lukashov | cassador.ru */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { opacity:1; }
input::-moz-placeholder, textarea::-moz-placeholder { opacity:1; }
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { opacity:0; }
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { opacity:0; }

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Errors */

label { /*margin-left: 15px; margin-top: 10px;*/ display:block; /*margin-bottom:10px; */position:relative; }
label:before, label:after { display:block; opacity:0; position:absolute; visibility:hidden; z-index:2; }
label:before { content:''; height:0; line-height:0; position:absolute; }
label:after { /*background-color:#f00;*/ color:#fff; content:attr(data); cursor:pointer; font-size:12px; height:20px;
background: #f00;
/*background: -moz-linear-gradient(top,  #ff6868 0%, #d80000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6868), color-stop(100%,#d80000));
background: -webkit-linear-gradient(top,  #ff6868 0%,#d80000 100%);
background: -o-linear-gradient(top,  #ff6868 0%,#d80000 100%);
background: -ms-linear-gradient(top,  #ff6868 0%,#d80000 100%);
background: linear-gradient(to bottom,  #ff6868 0%,#d80000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6868', endColorstr='#d80000',GradientType=0 );*/
 }
label:after { line-height:10px; padding:11px 11px 0; white-space:nowrap; border-radius: 4px; }
label:after:focus { visibility:hidden; opacity:0; }

label.right:before { z-index: 2; border-top:solid 5px transparent; border-bottom:solid 5px transparent; border-right: 5px solid #ec3434; left:101%; top:50%; margin: -10px 0 0 0; width:0px; height: 0px; }
label.right:after { border-left:solid 1px #f00; left:100%; margin:-21px 0 0 6px; top:50%; }

label.left:before { z-index: 2; border-top:solid 5px transparent; border-bottom:solid 5px transparent; border-left: 5px solid #ec3434;  right:101%; top:50%; margin: -5px 0 0 0; width:0px; height: 0px; }
label.left:after { border-right:solid 1px #f00; right:100%; margin:-16px 7px 0 0; top:50%; }

label.top:before { z-index: 2; border-left:solid 5px transparent; margin-left: -5px; top: -24px; border-right:solid 5px transparent; border-top: 5px solid #D80000; height:0px; width: 0px; left:50%; }
label.top:after { /*border-bottom:solid 1px #f00;*/ bottom:100%; left:15%; top: -55px; }

label.bottom:before { z-index: 2; border-left:solid 5px transparent; border-right:solid 5px transparent; border-bottom: 5px solid #fe6666; height:0px; width: 0px; left:50%; bottom:-11px; }
label.bottom:after { /*border-bottom:solid 1px #f00;*/ top:129%; left:15%; }

label.red input, label.red textarea { border:solid 1px #f00 !important; }
label.red:before, label.red:after { visibility:visible; opacity:1; }



.popup {
  /*background: #D4D4D4;*/
  width: 100%;
  height: 376px;
  background: #009bce url('../img/popup_bg.jpg') center center no-repeat;
}

#request .popup {
	width: 100%;
	height: 479px;
	background: #009bce url('../img/popup2_bg.jpg') center center no-repeat;
}

#request .popup_wrapper {
	width: 500px;
	margin: 0 auto;
	margin-top: 14px;
}

.popup_shadow {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  top: 0;
  left: 0;
}
.popup_wrapp label{
	display:inline-block;
	}
.popup_wrapp form{
	text-align:center;
	}
.popup_wrapp input[type="button"]{
	width: 267px;
	height: 56px;
	font: 20px pf_din_text_cond_promedium;
	line-height: 23px;
	text-transform: uppercase;
	display: inline-block;
	padding: 3px 0 10px;
	margin-top: 10px !important;
	}
#callback .popup_wrapp input[name="name"] {
	margin-right: 30px;
}
.popup_wrapp input[name="phone"] {
	margin-right: 0px;
}
/*#request {*/
/*  width: 395px;
  border-radius: 5px;
  padding: 30px 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}*/
.popup_h1 {
  color: #f5f5f5;
  text-align: center;
  font-size: 36px;
  font-family: 'pf_din_text_cond_promedium';
  margin-bottom: 8px;
  padding-top: 40px;
  text-transform:uppercase;
  text-shadow: 0 1px 1px #007ea8;
  line-height: 39px;
}
.popup_h2 {
  text-align: center;
  font-size: 18px; 
  line-height: 21px;
  padding-top: 5px;
  margin-bottom: 20px;
  color: #f5f5f5;
  text-shadow: 0 1px 1px #007ea8;
}

#request label.left:before {
	margin-top: -10px;
}

#request label.left:after {
	margin-top: -21px;
}

.popup ,
.popup_shadow {
	display: none;
  position: fixed;
}
.popup {
  z-index: 7;
}
.popup_shadow {
  z-index: 6;
}
#callback {
	/*padding:35px 53px 20px 47px;*/
	}
#callback form{
	margin:27px 0 0 7px;
	}
#callback label,
#callback label input {
  display: inline;
}
#callback .email {
  margin-left: 10px;
}
#callback .left-request {
  display:block;
  margin:0 auto;
}

.container.thanks{
	border-radius: 4px;
	background-color: rgba( 248, 248, 248, .8);
	width: 734px;
	height: 224px;
	margin:170px auto 0;
	}
	.container.thanks h1{
		font-weight:normal;
		font:40px/36px pf_din_text_cond_prolight;
		color:#1c1b17;
		text-transform:uppercase;
		text-align:center;
		padding-top:41px;
		}
	.container.thanks p{
		font:24px/36px pf_din_text_cond_prolight;
		color:#1c1b17;
		text-align:center;
		margin:5px 0 26px;
		}
	.container.thanks a{
		width: 273px;
		height: 58px;
		display: block;
		font: 24px/48px 'pf_din_text_cond_promedium';
		text-transform: uppercase;
		color: #1e1e1e;
		margin-left: 223px;
		}

.popup_wrapper {
	border: 3px solid white;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.23);
}

#callback .popup_wrapper {
	width: 775px;
	margin: 0 auto;
	margin-top: 32px;
	height: 305px;
}

#question .popup_wrapper {
	width: 775px;
	height: 339px;
	margin: 0 auto;
	margin-top: 15px;
}

#question form {
	width: 534px;
	margin: 0 auto;
}

#question .popup_h1 {
	padding-top: 20px;
}

textarea {
	width: 239px;
	height: 110px;
	border: 1px solid rgb( 0, 135, 179 );
	border-radius: 5px;
	margin-top: -5px;
	margin-left: 13px;
	color:#696969;
	font-size:18px;
	line-height: 21px;
	padding: 10px;
	font-family: 'icomoon';
}

input[type='text'],
textarea {
	font-family: 'pf_din_text_cond_proregular';
}

div.socc_icons {
	width: 290px;
	height: 35px;
}

div.socc_icons div {
	display: inline-block;
}

div.soc_icon {
	width: 35px;
	height: 35px;
	margin-right: 12px;
}

div.soc_icon.icon1 {
	background: url('../img/ss_icon1.png') no-repeat;
}

div.soc_icon.icon2 {
	background: url('../img/ss_icon2.png') no-repeat;
}

div.soc_icon.icon3 {
	background: url('../img/ss_icon3.png') no-repeat;
}

div.soc_icon.icon4 {
	background: url('../img/ss_icon4.png') no-repeat;
}

div.soc_icon.icon5 {
	background: url('../img/ss_icon5.png') no-repeat;
}

div.soc_icon.icon6 {
	margin-right: 0px;
	background: url('../img/ss_icon6.png') no-repeat;
}

@-moz-document url-prefix() {
	.popup label { margin-bottom: -5px; }
	textarea { margin-top: -9px; }
}

.photos {
    width: 100%;
    height: 320px;
    background: url("../img/c19_photos.jpg") no-repeat scroll center center transparent;
}
.tabletka_3d {
	bottom: 100px !important;
}
.tablet_2calls_mobile{
	bottom: 130px !important;
}
/*Банер*/
.popup_close_banner {
    width: 22px;
    height: 22px;
    position: absolute;
    top: -22px;
    right: -22px;
    background: url(../img/closed.png) no-repeat;
    cursor: pointer;
}


.banner{
/*    position: fixed;
    width: 1022px;
    height: 135px;
    background: #ffffff;
    border-radius: 5px 5px 0 0;
    z-index: 999;
    margin: 0 auto;
    left: 50%;
    display: block;
    bottom: 0px;
    margin-left: -561px;*/

    position: fixed !important;
    width: 870px !important;
    height: 105px !important;
    background: #ffffff !important;
    border-radius: 5px 5px 0 0 !important;
    z-index: 999 !important;
    left: 50% !important;
    /* display: block !important; */
    bottom: 0px;
    margin-left: -511px;
}
.baner-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
}

.baner-img{
	position: absolute;
	left: -25px;
	top: -10px;
}
.banner-h2{
	font-size: 22px;
	line-height: 22px;
	color:#000;
	text-align: left;
	position: relative;
	margin-left: 149px;
	margin-top: 10px;
	font-weight: normal;
	font-family: 'PFSquareSansPro-Medium';
}
.banner-h2 > span{
	font-family: 'PFSquareSansPro-Bold';
}
.banner-h2:before{
	content:'';
	position: absolute;
	bottom: -15px;
	left: 0px;
	width: 46px;
	height: 4px;
	background: #009ae1;
}
.jc_subblocktexture_0{
	padding-top: 16px !important;
}
.banner label{
	display: inline-block;
}
.banner label .desc{
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 20px;
	font-family: 'PFSquareSansPro-Medium';
}
.banner input[name="lead_email"]{
	margin-right: 8px;
}
.banner input[name="lead_email"],
.banner input[name="lead_phone"]{
	border:1px solid #7f7f7f;
	background: #fff;
	width: 204px;
	height: 42px;
	border-radius: 5px;
	padding-left: 0px;
    margin-bottom: 0px;
}

.banner input[type="submit"]{
    width: 160px;
    background: #ffb801;
    color: #fff;
    display: table;
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    float: right;
    height: 44px !important;
    margin-top: 31px;
    padding-bottom: 0px !important;
    margin-left: 8px;
}
.banner .desc{
    font-size: 18px;
    line-height: 18px;
    color: #053763;
    font-family: 'PFSquareSansPro-Medium';
}
.banner input::-webkit-input-placeholder,
.banner textarea::-webkit-input-placeholder {
	padding-left: 10px;
}
.banner input::-moz-placeholder, 
.banner textarea::-moz-placeholder {
	padding-left: 10px;
}

/*End Банер*/


/*exit pop up*/
#garbage{
    width: 654px !important;
    height: 460px !important;
    background: #fff !important;
    border-radius: 5px !important;
}
.popup_garbage-text-block{
	padding-left: 35px;
}
#garbage .popup_h1{
    font-size: 41px;
    line-height: 41px;
    color: #000;
    text-align: left;
    font-family: 'PFSquareSansPro-Bold';
    padding-bottom: 17px;
    text-transform: none;
    text-shadow:none;
}
#garbage .popup_h2{
    font-size: 21px;
    line-height: 21px;
    color: #000;
    text-align: left;
    text-shadow:none;
}
#garbage .popup_h2 > span{
    font-size: 31px;
    line-height: 21px;
    color: #000;
    text-align: left;
    color:#007eff;
    text-shadow:none;
}
#garbage .popup_p{
    font-size: 16px;
    line-height: 16px;
    color: #7f7f7f;
}
.popup_close,
#garbage .close2{
    width: 22px;
    height: 22px;
    position: absolute;
    top: -22px;
    right: -22px;
    background: url(../img/closed.png) no-repeat;
    cursor: pointer;
}
#garbage .desc{
    font-size: 18px;
    line-height: 18px;
    color: #053763;
    font-family: 'PFSquareSansPro-Medium';
}
.book__popup{
    position: absolute;
    top: 93px;
    right: -93px;
}
.garbage-form{
	width: 438px;
	padding-top: 15px;
}
#garbage label{
	display: inline-block;
}
#garbage label .desc{
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 20px;
	font-family: 'PFSquareSansPro-Medium';
}
#garbage input[name="lead_email"]{
	margin-right: 20px;
}
#garbage input[name="lead_email"],
#garbage input[name="lead_phone"]{
	border:1px solid #7f7f7f;
	background: #fff;
	width: 430px;
	height: 44px;
	border-radius: 5px;
	padding-left: 0px;
    margin-bottom: 0px;
}

#garbage input[type="submit"]{
	width: 435px;
    background: #ffb801;
    color: #000;
    display: table;
    padding: 0 148px;
    line-height: 50px;
    font-size: 18px;
    margin: 0;
    margin-top: 22px;
}

#garbage input::-webkit-input-placeholder,
#garbage textarea::-webkit-input-placeholder {
	padding-left: 10px;
}
#garbage input::-moz-placeholder, 
#garbage textarea::-moz-placeholder {
	padding-left: 10px;
}
/*exit pop up*/
.new {
	padding: 0;
	background: none;
}
.new:after {
	background: none;
}

.banner-link {
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url(../img/ban.jpg) no-repeat center;
    z-index: 2;
}

.banner-link.fix{
	position: fixed;
	top: 0px;
}