<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
<!--    <add name="DefaultConnection" connectionString="Data Source=194.28.84.75;Initial Catalog=gsirwehm_mlmsoft2;User Id=mlmuser2;Password=poas0504;" providerName="System.Data.SqlClient" />-->
        <add name="DefaultConnection" connectionString="Data Source=ALEX-PC;Initial Catalog=MlmSoft;User ID=sa;Password=1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CaribsLoginUrl" value="https://caribbeanbridge.com/office/web/site/login" />
    <add key="CaribsSocialBonusUrl" value="https://caribbeanbridge.com/office/web/account/social" />
    <add key="CaribsTransactionHistoryUrl" value="https://caribbeanbridge.com/office/web/account/transaction" />
    <add key="CaribsTransactionAdvertisingBonusText" value="Advertising bonus" />
    <add key="CaribsTransactionDateFormatText" value="{0}/{1}/{2}" />
<!--    <add key="CaribsSecretYandexKey" value="FhiloUloHjnVxX0oITH3n+Ng" /> дубров-->
    <add key="CaribsSecretYandexKey" value="iGJfJ1iSBBKK9KpimgyXusvQ" /> <!--виталик-->
    <add key="TurboSmsDbHost" value="94.249.146.189" />
    <add key="TurboSmsDbName" value="users" />
    <add key="TurboSmsDbUserName" value="Faraon_ua" />
    <add key="TurboSmsDbUserPassword" value="poas054" />
    <add key="NotificationEmails" value="faraon.ua@gmail.com;kryvenko.vitaliy@gmail.com" />
  </appSettings>
  <system.web>
    <!--    <customErrors mode="RemoteOnly" />-->
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.net>
    <mailSettings>
      <!--<smtp from="faraon.ua@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="faraon.ua" password="sbworldcup-2012" enableSsl="true" />
      </smtp>-->
      <smtp>
        <network host="smtp.yandex.ru" port="587" userName="promobiz-soft@yandex.ru" password="poas054" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>