@model dynamic

@{
    ViewBag.Title = "title";
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>CaribbeanBridge на полном автомате!</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="#">
    <link rel="shortcut icon" type="image/x-icon" href="#">
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/soft.css">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <style>
        #blk-f306 > .soclinks > a > img {
            width: 23px;
        }

        #blk-f306 > .soclinks > a {
            margin: 0px 5px;
        }

        #blk-9fa8 > .hotlinks > a {
            color: rgb(255, 255, 255);
        }

        #blk-9fa8 > .hotlinks > a {
            padding: 8px 16px;
        }

        #blk-9fa8 > .hotlinks > a {
            border-width: 1px;
        }

        #blk-9fa8 > .hotlinks > a {
            border-radius: 40px;
        }

        #blk-9fa8 > .hotlinks > a {
            border-color: rgba(255, 255, 255, 0.309804);
        }

        #blk-f356 > .soclinks > a > img {
            width: 23px;
        }

        #blk-f356 > .soclinks > a {
            margin: 0px 5px;
        }
    </style>
</head>
<body>
    <div class="page-content" data-id="72">
        <div class="sections-container">
            <div class="page-content" data-id="72">
                <div class="sections-container">
                    <div class="_section main-section" style="min-height: 512px; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;">
                        <div class="rows-container _in" style="background-color: transparent; background-repeat: no-repeat;">
                            <div class="_row">
                                <div class="_column _empty blocks-container" style="width: 240px;">
                                    <div class="_block __dummy">
                                        <div class="dummy" style="height: 7px;"></div>
                                    </div>
                                    <div class="_block __image dnd">
                                        <div class="_image">
                                            <img src="~/img/logo_top.png">
                                        </div>
                                    </div>
                                </div><div class="_column _empty blocks-container" style="width: 680px;">
                                    <div class="_block __panel">
                                        <div class="panel" style="padding: 0px; background-color: transparent;">
                                            <div class="rows-container">
                                                <div class="_row">
                                                    <div class="_column _empty blocks-container" style="width: 388px;">

                                                    </div>
                                                    
                                                </div>
                                                <div class="_row">
                                                    <div class="_column _empty blocks-container" style="width: 680px;">
                                                        <div class="_block __hotlinks" id="blk-9fa8">
                                                            <div class="hotlinks _nolinks">
                                                                <a class="scroll-to" href="#blk-b3b9">ПРЕИМУЩЕСТВА</a>
                                                                <a class="scroll-to" href="#blk-d7ff">ОПИСАНИЕ</a>
                                                                <a class="scroll-to" href="#blk-8005">ЧТО ВХОДИТ В КОМПЛЕКТ</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="_row">
                                <div class="_column _empty blocks-container" style="width: 460px;">
                                    <div class="_block __image dnd">
                                        <div class="_image">
                                            <img src="~/img/soft/b5.static.userimages.ru/img/7/f/6/8d76cb204073912907116acc70123.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="_column _empty blocks-container" style="width: 460px;">
                                    <div class="_block __dummy">
                                        <div class="dummy" style="height: 42px;"></div>
                                    </div>
                                    <div class="_block __richtext" style="padding: 11px;">
                                        <div class="richtext">
                                            <h1>
                                                <span style="color:#00A9EE">
                                                    <span style="font-size:48px">
                                                        <strong>CaribbeanBridge</strong>
                                                    </span>
                                                </span><br>
                                                <span style="color:#FFFFFF">
                                                    <span style="font-size:48px">
                                                        <strong>на полном автомате!</strong>
                                                    </span>
                                                </span>
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="_block __richtext" style="padding: 16px;">
                                        <div class="richtext">
                                            <p>
                                                <span style="color:#FFFFFF">
                                                    Теперь вы не будете терять деньги за каждый день когда
                                                    забыли разместить рекламу
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="_block __button">
                                        <a href="@Url.Action("Registration")"
                                           class="btn btn-primary"
                                           style="width: 200px; color: rgb(0, 0, 0); border-color: rgb(241, 150, 51); border-radius: 40px; background-image: linear-gradient(rgb(255, 215, 110) 0%, rgb(241, 150, 51) 100%); background-color: transparent;">
                                            Всего за 2$
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_section" style="min-height: 240px; background-color: rgb(9, 35, 78);" data-hotlink="ПРЕИМУЩЕСТВА" id="blk-b3b9">
                        <div class="rows-container _in" style="background-color: transparent;">
                            <div class="_row">
                                <div class="_column _empty blocks-container" style="width: 269px;">
                                    <div class="_block __richtext" style="padding: 11px;">
                                        <div class="richtext">
                                            <h1>
                                                <span style="font-size:36px;">
                                                    <span style="color:#00A9EE">
                                                        <strong>Ваши</strong>
                                                    </span>
                                                    <br>
                                                    <span style="font-size:30px;">
                                                        <span style="color:#FFFFFF">
                                                            <strong>преимущества</strong>
                                                        </span>
                                                    </span>
                                                </span>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="_column _empty blocks-container" style="width: 651px;">
                                    <div class="_block __slider">
                                        <div class="slider" data-arrows="true" data-pager="true" data-timeout="4000" data-speed="500">
                                            <div class="slides">
                                                <div class="slide rows-container">
                                                    <div class="_row">
                                                        <div class="_column _empty blocks-container" style="width: 98px;">
                                                            <div class="_block __panel">
                                                                <div class="panel" style="padding: 2px; background-color: transparent;">
                                                                    <div class="rows-container">
                                                                        <div class="_row">
                                                                            <div class="_column _empty blocks-container" style="width: 94px;">
                                                                                <div class="_block __image dnd">
                                                                                    <div class="_image" style="text-align: center;">
                                                                                        <img src="~/img/soft/b4.static.userimages.ru/img/7/0/f/30ac58893c58cf53d0ef00ce8544c.png">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="_block __richtext">
                                                                                    <div class="richtext">
                                                                                        <p style="text-align:center">
                                                                                            <span style="font-size:12px">
                                                                                                <span style="color:#FFFFFF">
                                                                                                    <em>Вам не нужен доступ к интернету/компьютеру</em>
                                                                                                </span>
                                                                                            </span>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="_column _empty blocks-container" style="width: 98px;">
                                                            <div class="_block __panel">
                                                                <div class="panel" style="padding: 2px; background-color: transparent;">
                                                                    <div class="rows-container">
                                                                        <div class="_row">
                                                                            <div class="_column _empty blocks-container" style="width: 94px;">
                                                                                <div class="_block __image dnd">
                                                                                    <div class="_image" style="text-align: center;">
                                                                                        <img src="~/img/soft/b3.static.userimages.ru/img/d/4/d/a4687668d4b5c3c38acbcfccfd7ab.png" data-original-image="~/img/soft/b3.static.userimages.ru/img/d/4/d/a4687668d4b5c3c38acbcfccfd7ab.png">
                                                                                    </div>
                                                                                </div><div class="_block __richtext">
                                                                                    <div class="richtext">
                                                                                        <p style="text-align:center">
                                                                                            <span style="font-size:12px">
                                                                                                <span style="color:#FFFFFF">
                                                                                                    <em>100% гарантия размещения рекламы</em>
                                                                                                </span>
                                                                                            </span>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="_column _empty blocks-container" style="width: 98px;">
                                                            <div class="_block __panel">
                                                                <div class="panel" style="padding: 2px; background-color: transparent;">
                                                                    <div class="rows-container">
                                                                        <div class="_row">
                                                                            <div class="_column _empty blocks-container" style="width: 94px;">
                                                                                <div class="_block __image dnd">
                                                                                    <div class="_image" style="text-align: center;">
                                                                                        <img src="~/img/soft/b3.static.userimages.ru/img/b/b/2/ca982062b69cd84c4bee320c8ec6b.png" data-original-image="~/img/soft/b3.static.userimages.ru/img/b/b/2/ca982062b69cd84c4bee320c8ec6b.png">
                                                                                    </div>
                                                                                </div><div class="_block __richtext">
                                                                                    <div class="richtext">
                                                                                        <p style="text-align:center">
                                                                                            <span style="font-size:12px">
                                                                                                <span style="color:#FFFFFF">
                                                                                                    <em>Вы получаете уведомления о пополнении счета в CaribbeanBridge на email и телефон</em>
                                                                                                </span>
                                                                                            </span>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><div class="_column _empty blocks-container" style="width: 98px;">
                                                            <div class="_block __panel">
                                                                <div class="panel" style="padding: 2px; background-color: transparent;">
                                                                    <div class="rows-container">
                                                                        <div class="_row">
                                                                            <div class="_column _empty blocks-container" style="width: 94px;">
                                                                                <div class="_block __image dnd"><div class="_image" style="text-align: center;"><img src="~/img/soft/b3.static.userimages.ru/img/6/9/d/58c08f2a82ba9738fec31bfddcee6.png" data-original-image="~/img/soft/b3.static.userimages.ru/img/6/9/d/58c08f2a82ba9738fec31bfddcee6.png"></div></div><div class="_block __richtext">
                                                                                    <div class="richtext">
                                                                                        <p style="text-align:center">
                                                                                            <span style="font-size:12px">
                                                                                                <span style="color:#FFFFFF">
                                                                                                    <em>Ваша команда и клиенты будут довольны</em>
                                                                                                </span>
                                                                                            </span>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><div class="_column _empty blocks-container" style="width: 99px;">
                                                            <div class="_block __panel">
                                                                <div class="panel" style="padding: 2px; background-color: transparent;">
                                                                    <div class="rows-container">
                                                                        <div class="_row">
                                                                            <div class="_column _empty blocks-container" style="width: 95px;">
                                                                                <div class="_block __image dnd"><div class="_image" style="text-align: center;"><img src="~/img/soft/b2.static.userimages.ru/img/4/8/5/bc9a4fb721045c85282a11468f9ee.png" data-original-image="~/img/soft/b2.static.userimages.ru/img/4/8/5/bc9a4fb721045c85282a11468f9ee.png"></div></div><div class="_block __richtext">
                                                                                    <div class="richtext">
                                                                                        <p style="text-align: center;">
                                                                                            <span style="font-size:12px;">
                                                                                                <span style="color:#FFFFFF;">
                                                                                                    <em>Ваша прибыль постоянно идет вверх</em>
                                                                                                </span>
                                                                                            </span>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="slide rows-container">
                                                    <div class="_row">
                                                        <div class="_column _empty blocks-container" style="width: 98px;">
                                                            <div class="_block __panel">
                                                                <div class="panel" style="padding: 2px; background-color: transparent;">
                                                                    <div class="rows-container">
                                                                        <div class="_row">
                                                                            <div class="_column _empty blocks-container" style="width: 94px;">
                                                                                <div class="_block __image dnd"><div class="_image" style="text-align: center;"><img src="~/img/soft/b4.static.userimages.ru/img/7/0/f/30ac58893c58cf53d0ef00ce8544c.png"></div></div><div class="_block __richtext">
                                                                                    <div class="richtext">
                                                                                        <p style="text-align:center">
                                                                                            <span style="font-size:12px">
                                                                                                <span style="color:#FFFFFF">
                                                                                                    <em>Ваша прибыль постоянно идет вверх</em>
                                                                                                </span>
                                                                                            </span>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><div class="_column _empty blocks-container" style="width: 98px;"><div class="_block __panel"><div class="panel" style="padding: 2px; background-color: transparent;"><div class="rows-container"><div class="_row"><div class="_column _empty blocks-container" style="width: 94px;"><div class="_block __image dnd"><div class="_image" style="text-align: center;"><img src="~/img/soft/b3.static.userimages.ru/img/d/4/d/a4687668d4b5c3c38acbcfccfd7ab.png" data-original-image="~/img/soft/b3.static.userimages.ru/img/d/4/d/a4687668d4b5c3c38acbcfccfd7ab.png"></div></div><div class="_block __richtext"><div class="richtext"><p style="text-align:center"><span style="font-size:12px"><span style="color:#FFFFFF"><em>преимущества продукта</em></span></span></p></div></div></div></div></div></div></div></div><div class="_column _empty blocks-container" style="width: 98px;"><div class="_block __panel"><div class="panel" style="padding: 2px; background-color: transparent;"><div class="rows-container"><div class="_row"><div class="_column _empty blocks-container" style="width: 94px;"><div class="_block __image dnd"><div class="_image" style="text-align: center;"><img src="~/img/soft/b3.static.userimages.ru/img/b/b/2/ca982062b69cd84c4bee320c8ec6b.png" data-original-image="~/img/soft/b3.static.userimages.ru/img/b/b/2/ca982062b69cd84c4bee320c8ec6b.png"></div></div><div class="_block __richtext"><div class="richtext"><p style="text-align:center"><span style="font-size:12px"><span style="color:#FFFFFF"><em>преимущества продукта</em></span></span></p></div></div></div></div></div></div></div></div><div class="_column _empty blocks-container" style="width: 98px;"><div class="_block __panel"><div class="panel" style="padding: 2px; background-color: transparent;"><div class="rows-container"><div class="_row"><div class="_column _empty blocks-container" style="width: 94px;"><div class="_block __image dnd"><div class="_image" style="text-align: center;"><img src="~/img/soft/b3.static.userimages.ru/img/6/9/d/58c08f2a82ba9738fec31bfddcee6.png" data-original-image="~/img/soft/b3.static.userimages.ru/img/6/9/d/58c08f2a82ba9738fec31bfddcee6.png"></div></div><div class="_block __richtext"><div class="richtext"><p style="text-align:center"><span style="font-size:12px"><span style="color:#FFFFFF"><em>преимущества продукта</em></span></span></p></div></div></div></div></div></div></div></div><div class="_column _empty blocks-container" style="width: 99px;"><div class="_block __panel"><div class="panel" style="padding: 2px; background-color: transparent;"><div class="rows-container"><div class="_row"><div class="_column _empty blocks-container" style="width: 95px;"><div class="_block __image dnd"><div class="_image" style="text-align: center;"><img src="~/img/soft/b2.static.userimages.ru/img/4/8/5/bc9a4fb721045c85282a11468f9ee.png" data-original-image="~/img/soft/b2.static.userimages.ru/img/4/8/5/bc9a4fb721045c85282a11468f9ee.png"></div></div><div class="_block __richtext"><div class="richtext"><p style="text-align:center"><span style="font-size:12px"><span style="color:#FFFFFF"><em>преимущества продукта</em></span></span></p></div></div></div></div></div></div></div></div>
                                                    </div>
                                                </div>
                                            </div><div class="slider-ctrl prev"></div><div class="slider-ctrl next"></div><div class="slider-pager"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="_section" style=" background-color: rgb(255, 255, 255);" data-hotlink="ОПИСАНИЕ" id="blk-d7ff">
                        <div class="rows-container _in" style="background-color: transparent;">
                            <div class="_row">
                                <div class="_column _empty blocks-container" style="width: 300px;">
                                    <div class="_block __panel">
                                        <div class="panel" style="min-height: 220px;">
                                            <div class="rows-container">
                                                <div class="_row">
                                                    <div class="_column _empty blocks-container" style="width: 260px;">
                                                        <div class="_block __richtext" style="padding: 7px;">
                                                            <div class="richtext">
                                                                <h2 style="text-align:center">
                                                                    <span style="color:#09234E">
                                                                        <strong></strong>
                                                                    </span>
                                                                </h2>
                                                            </div>
                                                        </div><div class="_block __image dnd">
                                                            <div class="_image">
                                                                <img src="~/img/soft/b4.static.userimages.ru/img/9/4/8/e0ff1227ae289cf322259ef10b75e.png">
                                                            </div>
                                                        </div><div class="_block __richtext" style="padding: 5px;">
                                                            <div class="richtext">
                                                                <p>
                                                                    <em>Программисты специально для нашей команды разработали автокликер. Экономьте время и не пропускайте прибыль ни дня!</em>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="_column _empty blocks-container" style="width: 300px;">
                                    <div class="_block __panel">
                                        <div class="panel" style="min-height: 220px;">
                                            <div class="rows-container">
                                                <div class="_row">
                                                    <div class="_column _empty blocks-container" style="width: 260px;">
                                                        <div class="_block __richtext" style="padding: 7px;">
                                                            <div class="richtext">
                                                                <h2 style="text-align:center">
                                                                    <span style="color:#09234E">
                                                                        <strong></strong>
                                                                    </span>
                                                                </h2>
                                                            </div>
                                                        </div><div class="_block __image dnd"><div class="_image"><img src="~/img/soft/b4.static.userimages.ru/img/9/4/8/e0ff1227ae289cf322259ef10b75e.png"></div></div><div class="_block __richtext" style="padding: 5px;">
                                                            <div class="richtext">
                                                                <p>
                                                                    <em>Для запуска автокликера вам нужно внести оплату, предоставить логин и пароль (обычный пароль не дает доступа ни к чему, кроме размещения рекламы; финансовый не нужен). Все данные конфиденциальны.</em>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="_column _empty blocks-container" style="width: 300px;">
                                    <div class="_block __panel">
                                        <div class="panel" style="min-height: 220px;">
                                            <div class="rows-container">
                                                <div class="_row">
                                                    <div class="_column _empty blocks-container" style="width: 260px;">
                                                        <div class="_block __richtext" style="padding: 7px;">
                                                            <div class="richtext">
                                                                <h2 style="text-align:center">
                                                                    <span style="color:#09234E">
                                                                        <strong></strong>
                                                                    </span>
                                                                </h2>
                                                            </div>
                                                        </div><div class="_block __image dnd"><div class="_image"><img src="~/img/soft/b4.static.userimages.ru/img/9/4/8/e0ff1227ae289cf322259ef10b75e.png"></div></div><div class="_block __richtext" style="padding: 5px;">
                                                            <div class="richtext">
                                                                <p>
                                                                    <em>К автокликеру будет удобно вам подключить смс уведомления на ваш номер о том что деньги за размещения рекламы начислены на ваш счет. Дополнительно за эту услугу +1$ в мес</em>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="_section" style="min-height: 189px;">
                        <div class="rows-container _in" style="background-color: transparent;">
                            <div class="_row">
                                <div class="_column _empty blocks-container" style="width: 940px;">
                                    <div class="_block __panel">
                                        <div class="panel" style="min-height: 83px; border-width: 2px; border-color: rgb(180, 191, 204); background-image: url(~/img/soft/b4.static.userimages.ru/img/7/f/0/da8ebd5ccf26b7ca700233d0b4004.png);">
                                            <div class="rows-container">
                                                <div class="_row">
                                                    <div class="_column _empty blocks-container" style="width: 646px;">
                                                        <div class="_block __richtext">
                                                            <div class="richtext">
                                                                <p>
                                                                    <strong>
                                                                        <span style="font-size:22px;">
                                                                            <span style="color:#000000;">
                                                                                <em>Закажите автокликер и смс оповещение уже сейчас</em>
                                                                            </span>
                                                                        </span>
                                                                    </strong>
                                                                </p><em></em>
                                                            </div>
                                                        </div><div class="_block __richtext" style="padding: 10px;">
                                                            <div class="richtext">
                                                                <p>Email оповещения также идут в комплекте</p><em></em>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="_column _empty blocks-container" style="width: 230px;">
                                                        <div class="_block __dummy"><div class="dummy" style="height: 21px;"></div></div><div class="_block __button">
                                                            <a href="@Url.Action("Registration")"
                                                               class="btn btn-primary" style="border-radius: 40px; font-size: 16px; width: 100%; padding: 6.5px 13px; background-image: linear-gradient(rgb(58, 163, 236) 0%, rgb(3, 71, 145) 100%);">
                                                                Всего за 2$
                                                            </a><div class="modal"><div class="modal-dialog"><div class="_block __form"><form action="#" method="post"><div class="fields-container" data-layout="vertical"><a class="close" data-dismiss="modal"></a><div class="_field __richtext"><div class="richtext"><p><strong><span style="font-size:20px;">Отправить заявку</span></strong><br></p></div></div><div class="_field __input"><div class="field-inner"><input type="text" class="text form-control" data-required="true" name="name" placeholder="Ваше имя"></div></div><div class="_field __input"><div class="field-inner"><input type="text" class="text form-control" data-required="true" name="phone" placeholder="Ваш телефон"></div></div><div class="_field __submit"><div class="field-inner"><input type="submit" class="btn btn-primary" value="Отправить"></div></div></div><textarea name="hidden" class="hidden"></textarea></form></div></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_section" style="min-height: 444px;" data-hotlink="ЧТО ВХОДИТ В КОМПЛЕКТ" id="blk-8005">
                        <div class="rows-container _in" style="background-color: transparent;">
                            <div class="_row">
                                <div class="_column _empty blocks-container" style="width: 226px;"><div class="_block __image dnd"><div class="_image"><img src="~/img/soft/b4.static.userimages.ru/img/b/f/c/645675d90b6b11569d239716561fe.png"></div></div></div><div class="_column _empty blocks-container" style="width: 694px;">
                                    <div class="_block __panel">
                                        <div class="panel" style="min-height: 185px; padding: 0px;">
                                            <div class="rows-container">
                                                <div class="_row">
                                                    <div class="_column _empty blocks-container" style="width: 694px;">
                                                        <div class="_block __richtext" style="padding: 7px;">
                                                            <div class="richtext">
                                                                <h2>
                                                                    <span style="color:#09234E">
                                                                        <strong>Так же вам понадобятся:</strong>
                                                                    </span>
                                                                </h2>
                                                            </div>
                                                        </div><div class="_block __richtext">
                                                            <div class="richtext">
                                                                <p>
                                                                    <em style="margin-left: 10px;">для продвижения бизнеса и увелчения продаж</em>
                                                                </p><em></em>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="_row">
                                                    <div class="_column _empty blocks-container" style="width: 337px;">
                                                        <div class="_block __panel">
                                                            <div class="panel" style="padding: 0px;">
                                                                <div class="rows-container">
                                                                    <div class="_row">
                                                                        <div class="_column _empty blocks-container" style="width: 64px;"><div class="_block __image dnd"><div class="_image"><img src="~/img/soft/b4.static.userimages.ru/img/e/0/5/6f3f4fe9f615b2c53e892de58543a.png"></div></div></div><div class="_column _empty blocks-container" style="width: 253px;">
                                                                            <div class="_block __richtext">
                                                                                <div class="richtext">
                                                                                    <p>
                                                                                        <strong>Обучающие курсы помогут самостоятельно уметь продвигать бизнес</strong>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="_column _empty blocks-container" style="width: 337px;">
                                                        <div class="_block __panel">
                                                            <div class="panel" style="padding: 0px;">
                                                                <div class="rows-container">
                                                                    <div class="_row">
                                                                        <div class="_column _empty blocks-container" style="width: 64px;"><div class="_block __image dnd"><div class="_image"><img src="~/img/soft/b2.static.userimages.ru/img/d/d/c/44253626810511d83a98c8160d99b.png" data-original-image="~/img/soft/b2.static.userimages.ru/img/d/d/c/44253626810511d83a98c8160d99b.png"></div></div></div><div class="_column _empty blocks-container" style="width: 253px;">
                                                                            <div class="_block __richtext">
                                                                                <div class="richtext">
                                                                                    <p>
                                                                                        <strong>Базы потенциальных клиентов помогут вам быстро построить бизнес команду</strong>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="_row">
                                                    <div class="_column _empty blocks-container" style="width: 337px;">
                                                        <div class="_block __panel">
                                                            <div class="panel" style="padding: 0px;">
                                                                <div class="rows-container">
                                                                    <div class="_row">
                                                                        <div class="_column _empty blocks-container" style="width: 64px;"><div class="_block __image dnd"><div class="_image"><img src="~/img/soft/b3.static.userimages.ru/img/e/7/e/03a32990e6fcf4034e32b76bcfdde.png" data-original-image="~/img/soft/b3.static.userimages.ru/img/e/7/e/03a32990e6fcf4034e32b76bcfdde.png"></div></div></div><div class="_column _empty blocks-container" style="width: 253px;">
                                                                            <div class="_block __richtext">
                                                                                <div class="richtext">
                                                                                    <p>
                                                                                        <strong>Создание и продвижение сайта и соц сетей - поднимут продажи на новый уровень</strong>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><div class="_column _empty blocks-container" style="width: 337px;">
                                                        <div class="_block __panel">
                                                            <div class="panel" style="padding: 0px;">
                                                                <div class="rows-container">
                                                                    <div class="_row">
                                                                        <div class="_column _empty blocks-container" style="width: 64px;"><div class="_block __image dnd"><div class="_image"><img src="~/img/soft/b2.static.userimages.ru/img/f/a/b/fe1cc12259fc57959ba3500f1ac1c.png" data-original-image="~/img/soft/b2.static.userimages.ru/img/f/a/b/fe1cc12259fc57959ba3500f1ac1c.png"></div></div></div><div class="_column _empty blocks-container" style="width: 253px;">
                                                                            <div class="_block __richtext">
                                                                                <div class="richtext">
                                                                                    <p>
                                                                                        <strong>Базы для автоматических добавлений и рассылок - ускорят рост продаж</strong>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/front.minb571.js?v160515"></script>
</body>
</html>
