@model Caribs.Models.SoftRegistrationViewModel
@{
    Layout = null;
}
<html>
<head>
    <title>Автокликер Регистрация - Успешная Оплата</title>
    <link href="~/Content/autoclickreg.css" rel="stylesheet" />
</head>
<body class="main-section">
    <div id="msform">
        <fieldset>
            <h2>
                Ваша оплата прошла успешно!
                <br/>
                 Спасибо за использование нашего сервиса!
            </h2>
        </fieldset>
    </div>
</body>
</html>
