@model dynamic

@{
    ViewBag.Title = "Бизнесу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-wrap align-center">
    <h2>Возможности для бизнеса</h2>
    <br />
    <br />
    <p>
        Хотите замотивировать сотрудников еще больше? Поощрить? Но не всегда есть средства и время?
    </p>
    Подарите им корпоративный тур, стоимость которого сможете окупить всего за 5 мес!
    <p>Все просто:</p>
</div>