@model dynamic

@{
    ViewBag.Title = "Продавцу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-wrap align-center">
    <h2>Возможности для продавца</h2>
    <br />
    <br />
   
</div>