@{
    ViewBag.Title = "ВУЗам";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-wrap align-center">
    <h2>Возможности для высших учебных заведений и организаций</h2>
    <br />
    <br />
    
    <p>
        Хотите повысить узнаваемость и популярность своего заведения? Дарить подарки на мероприятиях и предоставлять бесплатный отдых?
    </p>
    <p>Все просто:</p>
</div>